@font-face {
  font-family: D-DIN-Bold;
  src: url('../../assets/D-DIN-Bold.otf');
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 0 40px;

  .main-content-warp {
    max-width: 100%;
    max-height: 100%;
    --number-font-size: 26vmax;
    --number-margin-bottom: 10px;
    --description-font-size: 4vmax;
    --description-line-height: 4vmax;
    --description-padding-bottom: 2vmax;
    --description-index-margin-left: 1vmax;
    --description-index-padding: 0.1vmax 1.2vmax;

    &.is-config {
      --number-font-size: 14vmax;
      --description-font-size: 3vmax;
      --description-padding-bottom: 1vmax;
    }

    .main-content-number {
      font-family: D-DIN-Bold;
      font-size: var(--number-font-size);
      font-weight: bold;
      margin-bottom: var(--number-margin-bottom);
      transition: font-size .3s linear;
    }

    .main-content-description {
      font-family: PingFang SC;
      display: flex;
      align-items: center;
      font-size: var(--description-font-size);
      line-height: var(--description-line-height);
      padding-bottom: var(--description-padding-bottom);
      font-weight: 500;
      transition: font-size .3s linear;

      .description-text {
        color: var(--ccm-chart-N1000);
      }

      .description-index {
        display: flex;
        align-items: center;
        border-radius: 100px;
        min-height: var(--description-font-size);
        margin-left: var(--description-index-margin-left);
        height: 100%;
        padding: var(--description-index-padding);

        &.black {
          background: var(--description-index-bg);
          color: var(--ccm-chart-N1000);
        }

        &.green {
          background: rgba(32, 136, 67, 0.1);
          color: rgba(32, 136, 67, 1);
        }

        &.red {
          background: rgba(220, 4, 59, 0.1);
          color: rgba(220, 4, 59, 1);
        }
      }
    }
  }
}
